page-dashboard {
    .limited {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .middle{
        height: 100%;
        display: block;
        vertical-align: middle;
    }
    ion-card{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        margin: 0 !important;
      }
    ion-row,ion-col{
        margin-top:-19px;
        margin-bottom:-14px;
    }
}
