page-profile {
    .user-cover {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
        z-index: 1;
        position: relative;
      }
    
      .user-desc {
        width: 100%;
        background: white;
        position: absolute;
      }
      .user-photo {
        margin: auto;
        position: relative;
        top:25%;
        // background: url('../assets/img/logoilkomerzjuara.png') center center no-repeat 
        width: 130px;
        height: 130px;
        z-index: 2;
      }
      .user-profile-pic{
        border: 1px solid #fff;
        border-radius:50%;
      }
      .bio{
        text-align: justify;
        font-size: 12px;
      }
      .list-header{
        margin-bottom:5px;
      }
}
